<div class="row">
  <div class="col-3">

  </div>
  <div class="col-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title mb-2">🏦 Orange Vélodrome</h5>
        <p class="card-text"> 📍 Marseille</p>
        <p class="card-text"> 🛣️ 3 Boulevard Michelet, 13008</p>
        <p class="card-text"> 📞 0491903728</p>
        <p class="card-text">ℹ️ Le stade Vélodrome (appelé Orange Vélodrome par contrat de naming depuis 20161) est une enceinte sportive située à Marseille en France. Bâti dans le 8e arrondissement, c'est le principal équipement sportif de Marseille et le second stade de France en termes de capacité. </p>
        <a href="#" class="card-link">🌐 https://www.orangevelodrome.com/accueil/</a>

      </div>
    </div>
    <p><a routerLink=""> 👈 Back to the museums</a></p>
  </div>

</div>

<div class="row">
  <div class="col mt-2">

  </div>
</div>
<!-- {{ nameMuseum}}
📍 {{ cityMuseum}}
{{ adressMuseum}}
📞 {{ numberMuseum}}
{{websiteMuseum}} -->
